<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <%- include('./partials/nav') %>  
    <div class="create">
        <form action="/register" method="post" target="_blank">
            <label for="title">Title:</label>
            <input type="text" id="" name="title"><br><br>
            <label for="subtitle">Subtitle:</label>
            <input type="text" id="" name="subtitle"><br><br>
            <label for="body">Body:</label>
            <input type="text" id="" name="body"><br><br>
            <input type="submit" value="Submit">
        </form>         
    </div> 
    <%- include('./partials/footer') %>
 
</body>
</html>