<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <%- include('./partials/nav') %> 
    <div class="row">
        <div class="col-md-8">
            <div id="notfound">
                <div class="notfound">
                    <div class="notfound-404"></div>
                    <h1>404</h1>
                    <h2>Oops! Page Not Be Found</h2>
                    <p>Sorry but the page you are looking for does not exist, have been removed. name changed or is temporarily unavailable</p>
                    <a href="/">Back to homepage</a>
                </div>
            </div>
        </div>
        <%- include('./partials/archives') %>
    </div>
    <%- include('./partials/footer') %>  
</body>
</html>